body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.row{
    display: flex;
}

#calculator{
    padding: 10px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;
}
button{
    background-color: darkgrey;
    color: white;
    width: 100px;
    height: 40px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-self: center;
}
#results{
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
}
#divide,
.bottombuttons{
    width: 150px;
}
#zero,
.from0to9{
    background-color: lightcoral;
    color: black;
}
.operator{
    background-color: darkorange;
    color: black;
}
#equal,
#clear{
    background-color: darkkhaki;
    color: black;
}